@page "/product"
@using BlazorApp1.Data
@inject PeopleService PeopleService

<h3>People</h3>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Unit Price (C)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.ProductName.</td>
                    <td>@forecast.UnitPrice</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {
    //private WeatherForecast[] forecasts;
    private ProductModel[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await PeopleService.GetProductAsync(DateTime.Now);
    }
}
